<footer class="py-12 text-center">
  <div class="container">
    <nav class="flex flex-wrap gap-y-3 gap-x-8 justify-center text-sm">
      <a href="#" class="transition hover:text-white">Terms of Service</a>
      <a href="#" class="transition hover:text-white">Privacy</a>
      <a href="#" class="transition hover:text-white">Refund & Warranty</a>
      <a href="#" class="transition hover:text-white">Cookies Policy</a>
      <a href="#" class="transition hover:text-white">Parcel Tracking</a>
      <a href="#" class="transition hover:text-white">Contact us</a>
    </nav>
  </div>
</footer>
